---
layout: ecoplex_default
title: EcoPlex | Accueil
---

<section id="intro">
  <div class="container">
      <div class="row align-items-end">
      {% include section_intro.html
          title="Eco-design your<br>complex systems<br>by assessing<br>their environmental impact as soon as possible"
          desc="<p>The EcoPlex project guarantees digital continuity between design and life cycle analysis.</p><p>It provides a methodology and software based on open-sourced solutions Capella and OpenLCA.</p>"
          
          img_href=""
          img_target=""
          img_src="images/illustrations/ecoplex_overview_en.png"
          img_alt="EcoPlex - Overview"
      %}
    </div>
  </div>
</section>

<section id="benefices" class="bg_lightest_grey text-center">
  <div class="container">
          {% include block_heading.html
              title="Why EcoPlex"                
              sub_title=""
              desc=""
          %}

          <div class="row">
              {% include block_cols.html
                  col="4"
                  icon_name="fas fa-tasks"
                  icon_color="txt_main_color"
                  title="Reliability" 
                  desc="LCA inventory data is taken<br>directly from the design model"
              %}
              {% include block_cols.html
                  col="4"
                  icon_name="fas fa-dollar-sign"
                  icon_color="txt_main_color"
                  title="Efficiency" 
                  desc="Automatic initialization of the LCA model<br>saves hours of tedious typing"
              %}
              {% include block_cols.html
                  col="4"
                  icon_name="fas fa-tachometer-alt"
                  icon_color="txt_main_color"
                  title="Performance" 
                  desc="Time savings make it possible to carry out more LCAs,<br>and to identify the architecture with the least impact"
              %}
          </div>
  </div>
</section>

<section>
  <div class="container">
      {% include block_text_image.html
          txt_order="order-1"
          title="Editeurs graphiques dédiés"                
          desc="<p>EcoPlex is experienced on use cases in the naval world, such as Mobula pollution control vessels.</p><p>But it is applicable to other industrial sectors (automotive, aeronautics, energy, health, etc.).</p>"

          lnk_txt=""
          lnk_href=""
          lnk_target=""
          lnk_icon=""

          img_order="order-2"
          img_src="images/ecoplex_mobula.png"
          img_title="EcoPlex - Projet Mobula"
      %}
  </div>
</section>

<section class="bg_lightest_grey">
  <div class="container text-center">
    {% include block_heading.html
      title="Press Release"
      desc=""
  %}
    <div class="row">
      <div class="col-md-12 wow fadeInLeft linked_title" data-wow-duration="500ms" data-wow-delay="300ms">
        <div><a href="pdf/CommuniqueDePresseEcoPlex-Oct2021-EN.pdf"><i class="far fa-file-pdf fa-3x pa2 txt_main_color"></i></a></div>
        <div><h4><a class="txt_main_color" href="pdf/CommuniqueDePresseEcoPlex-Oct2021-EN.pdf" target="_blank">Download the PDF Version</a></h4></div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    {% include block_heading.html
      title="With the support of"
      desc=""
  %}
    <div class="row">
      <p style="vertical-align: middle;">
              <a href="https://www.pole-emc2.fr/" target="_self" class="span-right"><img src="images/logos/logo_emc2.png" width ="200" alt="Logo EMC2"></a>
              <a href="https://www.bretagne.bzh/" target="_self" class="span-right"><img src="images/logos/logo_bretagne.png" width ="150" alt="Logo Région Bretagne"></a>
              <a href="https://www.paysdelaloire.fr/" target="_self" class="span-right"><img src="images/logos/logo_pdll.png" width ="150" alt="Logo Région Pays de la Loire"></a>
              <a href="https://www.bpifrance.fr/" target="_self"><img src="images/logos/logo_bpi.png" width ="180" alt="Logo Bpifrance"></a>
      </p>
    </div>
  </div>
</section>

<section class="bg_lightest_grey">
  <div class="container text-center">
    {% include block_heading.html
      title="A collaborative project led by"
      desc=""
  %}
    <div class="row">
      <p style="vertical-align: middle;">
              <a href="https://www.theseacleaners.org/fr/manta-innovation/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_manta_innovation.png" width ="190" alt="Logo Manta Innovation"></a>
              <a href="https://www.obeosoft.com/" target="_self" class="span-right"><img src="common_assets/images/logos/logo_obeo.png" width ="150" alt="Logo Obeo"></a>
              <a href="https://www.efinor.com/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_efinor.png" width ="130" alt="Logo Efinor"></a>
              <a href="https://www.ls2n.fr/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_ls2n.jpeg" width ="190" alt="Logo LS2N"></a>
              <a href="https://www.stirlingdesign.fr/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_sdi.png" width ="120" alt="Logo SDI"></a>
              <a href="https://capgemini-engineering.com/fr/fr/" target="_self"><img src="images/logos/collaborateurs/logo_capgemini.png" width ="230" alt="Logo Capgemini Engineering"></a>
            </p>
    </div>
  </div>
</section>


