---
layout: ecoplex_default
title: EcoPlex | Accueil
---

<section id="intro">
  <div class="container">
      <div class="row align-items-end">
      {% include section_intro.html
          title="Eco-concevoir vos<br>systèmes complexes<br>en évaluant au plus tôt leur impact environnemental"
          desc="<p>Le projet EcoPlex assure la continuité numérique entre les activités de conception et d’analyse de cycle de vie.</p><p></p>Il fournit une méthodologie, et un logiciel basé sur les solutions open-source Capella et OpenLCA.</p>"
          
          img_href=""
          img_target=""
          img_src="images/illustrations/ecoplex_overview.png"
          img_alt="EcoPlex - Overview"
      %}
    </div>
  </div>
</section>

<section id="benefices" class="bg_lightest_grey text-center">
  <div class="container">
          {% include block_heading.html
              title="Pourquoi EcoPlex"                
              sub_title=""
              desc=""
          %}

          <div class="row">
              {% include block_cols.html
                  col="4"
                  icon_name="fas fa-tasks"
                  icon_color="txt_main_color"
                  title="Fiabilité" 
                  desc="Les données d’inventaire de l’ACV<br>sont directement extraites du modèle de conception"
              %}
              {% include block_cols.html
                  col="4"
                  icon_name="fas fa-dollar-sign"
                  icon_color="txt_main_color"
                  title="Efficacité" 
                  desc="L’initialisation automatique du modèle d’ACV<br>économise des heures fastidieuses de saisie"
              %}
              {% include block_cols.html
                  col="4"
                  icon_name="fas fa-tachometer-alt"
                  icon_color="txt_main_color"
                  title="Performance" 
                  desc="Les gains de temps permettent de réaliser plus d’ACV,<br>et d’identifier l’architecture la moins impactante"
              %}
          </div>
  </div>
</section>

<section>
  <div class="container">
      {% include block_text_image.html
          txt_order="order-1"
          title="Editeurs graphiques dédiés"                
          desc="<p>EcoPlex est expérimenté sur des cas d’usage dans le monde naval, tels que les navires de dépollution Mobula.</p><p>Mais il est applicable à d’autres secteurs industriels (automobile, aéronautique, énergie, santé, …).</p>"

          lnk_txt=""
          lnk_href=""
          lnk_target=""
          lnk_icon=""

          img_order="order-2"
          img_src="images/ecoplex_mobula.png"
          img_title="EcoPlex - Projet Mobula"
      %}
  </div>
</section>

<section class="bg_lightest_grey">
  <div class="container text-center">
    {% include block_heading.html
      title="Communiqué de presse"
      desc=""
  %}
    <div class="row">
      <div class="col-md-12 wow fadeInLeft linked_title" data-wow-duration="500ms" data-wow-delay="300ms">
        <div><a href="pdf/CommuniqueDePresseEcoPlex-Oct2021-FR.pdf" target="_blank"><i class="far fa-file-pdf fa-3x pa2 txt_main_color"></i></a></div>
        <div><h4><a class="txt_main_color" href="pdf/CommuniqueDePresseEcoPlex-Oct2021-FR.pdf" target="_blank">Téléchargez le pdf</a></h4></div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    {% include block_heading.html
      title="Avec le soutien de"
      desc=""
  %}
    <div class="row">
      <p style="vertical-align: middle;">
              <a href="https://www.pole-emc2.fr/" target="_self" class="span-right"><img src="images/logos/logo_emc2.png" width ="200" alt="Logo EMC2"></a>
              <a href="https://www.bretagne.bzh/" target="_self" class="span-right"><img src="images/logos/logo_bretagne.png" width ="150" alt="Logo Région Bretagne"></a>
              <a href="https://www.paysdelaloire.fr/" target="_self" class="span-right"><img src="images/logos/logo_pdll.png" width ="150" alt="Logo Région Pays de la Loire"></a>
              <a href="https://www.bpifrance.fr/" target="_self"><img src="images/logos/logo_bpi.png" width ="180" alt="Logo Bpifrance"></a>
      </p>
    </div>
  </div>
</section>

<section class="bg_lightest_grey">
  <div class="container text-center">
    {% include block_heading.html
      title="Un projet collaboratif mené par"
      desc=""
  %}
    <div class="row">
      <p style="vertical-align: middle;">
              <a href="https://www.theseacleaners.org/fr/manta-innovation/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_manta_innovation.png" width ="190" alt="Logo Manta Innovation"></a>
              <a href="https://www.obeosoft.com/" target="_self" class="span-right"><img src="common_assets/images/logos/logo_obeo.png" width ="150" alt="Logo Obeo"></a>
              <a href="https://www.efinor.com/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_efinor.png" width ="130" alt="Logo Efinor"></a>
              <a href="https://www.ls2n.fr/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_ls2n.jpeg" width ="190" alt="Logo LS2N"></a>
              <a href="https://www.stirlingdesign.fr/" target="_self" class="span-right"><img src="images/logos/collaborateurs/logo_sdi.png" width ="120" alt="Logo SDI"></a>
              <a href="https://capgemini-engineering.com/fr/fr/" target="_self"><img src="images/logos/collaborateurs/logo_capgemini.png" width ="230" alt="Logo Capgemini Engineering"></a>
            </p>
    </div>
  </div>
</section>