<!-- Navigation -->
<header id="top-bar" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="logo-default" width="215" src="images/logos/logo_ecoplex.svg" alt="Logo EcoPlex">
        </a>
        <!-- /logo -->
    <div class="d-flex align-items-end flex-column">
        <a href="index_en.html"><img style="padding:5px" align="right" src="images/logos/en.gif" alt="English version"></a>
        <a href="."><img style="padding:5px" align="right" src="images/logos/fr.gif" alt="Version française"></a>
    </div>
    </div>
</header>
